* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    /* background-color: rgb(231, 230, 246); */
    /* color: white; */
    font-family: "Poppins", sans-serif;
    /* min-height: 100vh; */
}

.wrapper {
    display: flex;
    padding: 20px;
}

.forms__container {
    border-radius: 5px;
    /* background-color: rgb(160, 180, 180); */
    /* padding: 18px; */
}

.forms__container form {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    padding: 16px;
}

.forms__container label {
    margin-top: 8px;
    font-weight: 600;
    color: rgb(80, 148, 154);
}

.forms__container input,
select {
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.forms__container form input,
select,
button {
    /* background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)); */
    /* background-color: white; */
    padding: 8px;
    margin: 5px 0;
}

#first,
#last,
#job,
#b-day {
    background-color: white;
}

.form__btns {
    margin: 10px auto;
}

.btn-add {
    background-color: bisque;
    color: rgb(9, 76, 76);
}

.btn-add:hover {
    background-color: rgb(247, 211, 167);
}

.btn-add:active {
    background-color: rgb(226, 163, 87);
}

.btn-update {
    background-color: #68a446;
    color: rgb(41 102 102);
}

.btn-update:hover {
    background-color: #8cc66a;
}

.btn-add,
.btn-update {
    font-weight: 600;
    border: none;
    border-radius: 6px;
    width: 137px;
    cursor: pointer;
}

.person-cards {
    flex-grow: 1;
}

.person-cards h3 {
    padding: 0 0 0 16px;
}

.cards-holder {
    padding: 12px;
}

.card {
    display: flex;
    background-color: rgba(101, 155, 155, 0.358);
    padding: 18px;
    margin-bottom: 8px;
    width: 280px;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(148, 166, 178, 0.93);
}

.card i {
    padding-right: 8px;
    color: rgb(68, 95, 87);
}

.card-username {
    margin-bottom: 8px;
}

.birthday {
    padding: 2px 10px 10px 22px;
    flex: 1 1 100%;
}

.job {
    padding: 8px;
}

.btns-card {
    display: flex;
    gap: 10px;
}

.btn-remove,
.btn-update-card {
    margin: 24px 0 0 8px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-remove {
    background-color: rgba(255, 177, 82, 0.527);
    color: rgb(6, 63, 63);
}

.btn-remove:hover {
    background-color: rgba(225, 162, 85, 0.647);
}

.btn-remove:active {
    background-color: rgba(186, 122, 44, 0.888);
}

.btn-update-card {
    background-color: #84c261;
    color: rgb(41 102 102);
    margin-left: 50px;
}

.btn-update-card:hover {
    background-color: #68974dcd;
}